
<launch>

    <arg name="ns"/>
    <arg name="simu_config_path"/>

    <group ns="$(arg ns)">

        <rosparam file="$(arg simu_config_path)" command="load"/>
        <!-- Le fichier de config sera passé à toutes les nodes créées par le launcher -->

        <!-- Pour modifier le lancement des nodes il faut modifier la définition du robot -->
        <!--output="screen"-->
        <node pkg="ros_usv_simulator" type="launch_simulation.py" name="sim_launcher" output="screen">
            <param name="namespace_simu" value="$(arg ns)"/>
        </node>

        <node pkg="ros_usv_simulator" type="simu_vehicule.py" name="sim_vehicule"/>
        <node pkg="ros_usv_simulator" type="simu_time.py" name="sim_time"/>

        <node pkg="ros_usv_simulator" type="simu_plot.py" name="sim_plot"/>

    </group>

</launch>
